
/* reset css */

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{
	font-family:inherit;
}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

HEAD


/* font-family: 'Baloo 2', cursive; */
/* font-family: 'Nunito', sans-serif; */







/* project */







.wrapper{
	max-width: 1440px;
	margin: 0 auto;
}






/* Nataly Riabchenko*/


.header-container {
	/* position: relative; */
	height: 120px;
	background: linear-gradient(180deg, #FFF1F2 0%, #FFFFFF 75.83%);
}
.logo {
	position: absolute;
	font-family: 'Baloo 2';
	font-weight: 800;
	font-size: 30px;
	line-height: 48px;
	color: #FC6A57;
	margin: 40px auto 40px 80px;
}
.avatar-container {
	display: flex;
	position: relative;
	max-width: 560px;
	height: 623px;
	top: 137px;
	left: 80px;
}
.avatar-dekor {
	position: absolute;
	
}
.avatar-foto {
	position: absolute;
	z-index: 2;
	left: 100px;
	top: 83px;
}
.avatar-foto img {
	width: 100%;
	display: flex;
}
.social {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
}

.social>div{
	margin: 0 10px;
}

.social>div:hover {
	transition: 300ms;
	transform: scale(1.8);
}


/* Cards Nata Riabchenko */
.section-wrapper{
	max-width: 1440px;
	margin: 0 auto;
	background: #FFF;
	overflow: hidden;
}
.cards {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	
}
.card {
    flex: 0 0 30%;
    height: 330px;
    overflow: hidden;
    border-radius: 6px;
    background: #FFF5F5;
    padding: 30px 30px 100px;
    position: relative;
    transition: padding 1s, background 1s;
}
.card-img {
    max-width: 100%;
    border-radius: 4px;
}
.card-text {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: #FFF5F5;
    color: #FC6A57;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    transition: background 1s;
}
.card-icon {
    opacity: 0;
    position: absolute;
    top: 30px;
    left: 30px;
    transition: opacity 1s;
}
.card:hover {
    padding: 1px 1px 100px;
    background: #FC6A57;
}
.card:hover .card-img {
    border-radius: 6px;
}
.card:hover .card-text {
    background: #FC6A57;
    color: #FFFFFF;
}
.card:hover .card-icon {
    opacity: 1;
}

.brand-container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
	padding: 38px 0 158px 0;
}
.brand-box {
	flex: 0 0 20%;
	border-radius: 6px;
	background: #fff;
	position: relative;

	
}
.brand-image img {
	margin: 0 auto;
	width: 160px;
	height: 160px;
	display: flex;
	border-radius: 6px;
}

.brand-text {
	text-align: center;
	color: #FC6A57;
	font-size: 20px;
	padding: 20px;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}
 .icon-star { 
	opacity: 0;
	left: 10px;
	top: 10px;
    position: absolute;
    transition: opacity 1s;
}
.brand-box:hover {
	border-radius: 6px;
   	border: 1px solid #FC6A57;
	background: #fff;
	
}
 .brand-box:hover .brand-image img {
    width: 200px;
	height: 200px;
   
}
  .brand-box:hover .brand-text{
	background: #FC6A57;
	color: #FFFFFF;
}
  .brand-box:hover .icon-star {
	opacity: 1;
 }

@media only screen 
	and (max-width: 420px){

.wrapper{
	padding: 0 20px;
}

		.avatar-dekor {
		display: none;
}
.avatar-foto {
	top: 10px;
	left: 20px;
}
		.cards {
			display: block;
			margin: 0 20px;
		}
		.card { 
			height: 330px;
			margin-bottom: 60px;
		}

		.brand-container {
		display: block;	
	}

		.brand-image img {
		width: 80px;
		height: 80px;
		display: block;
	}
	.brand-text {
	text-align: right;
	
}


 

	}	
					/* Ruslan Shyshenko */

.wrapper-header{
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	height: 900px;
}

.left-side{
	width: 50%;
} 

.right-side{
	width: 50%;
	
}

.nav__image{
	display: none;
}

.nav {
	min-height: 120px;
	background: linear-gradient(180deg, #FFF1F2 0%, #FFFFFF 75.83%);
}

.nav>ul {
	padding-top: 50px;
	max-width: 600px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav__link {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #FC6A57;
}

.nav__link:hover{
	padding: 9px 20px;
	background: #FC6A57;
	border-radius: 20px;
	color: #FFF;
	transition: 700ms;
}




            /* Tanya Chernenko */


.counter-part {
position: relative;
height: 500px;
}
.heading {
	max-width: 468px;
	font-family: Baloo 2;
	font-style: normal;
	font-weight: 800;
	font-size: 80px;
	line-height: 128px;
	text-align: left;
	color: #FC6A57;
	margin-top: 100px;
}
.surprising {
	max-width: 640px;
	font-family: 'Nunito';
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #FC6A57;
	margin-bottom: 10px;
}
.big-circle-text {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;		
	color: #FC6A57;
	text-align: center;
	padding: 120px 75px 4px 76px;
}
.counter {
	font-family: 'Baloo 2';
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 48px;
	color: #FC6A57;
	text-align: center;
}
.small-circle-text {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #FC6A57;
	text-align: center;
	padding-top: 51px;
}
.demo {
	text-align: center;
	font-size: 60px;
	margin-top: 0px;
}
.big-ellipse {
	width: 318px;
	height: 318px;
	background: #FFF5F5;
  	border-radius: 50%;
  	mix-blend-mode: multiply;
  	position: absolute;
  	right: 65px;
 }

.small-ellipse {
	width: 130px;
	height: 130px;
	background: #FFF5F5;
  	border-radius: 50%;
  	mix-blend-mode: multiply;
  	position: absolute;
  	right: 0;
    top: 410px;
}


/* CardsChernenko */

.section-good-idea-wrapper{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	background: #FFF5F5 ;
	position: relative;
	overflow: hidden;
}
.wish-title {
	padding-top: 60px;
}
.wish-title-item {
	font-family: 'Baloo 2', cursive;
	font-weight: 800;
	font-size: 40px;
	line-height: 64px;
	text-align: center;
	color: #FC6A57;
}
.good-idea {
	max-width: 1440px;
	display: flex;
	justify-content: center;
	gap:  60px;
	margin: 0 auto 100px auto;
}
.card {
	max-width: 386px;
	height: 330px;
	background: #FFF5F5;
	border-radius: 6px;
	transition: padding 1s, background 1s;
	position: relative;
	bottom: 100px;
	top: 40px;
}
.card-icon-like, .card-icon-unlike {
	opacity: 0;
	position: absolute;
	top: 30px;
	left: 30px;
	transition: opacity 1s;
}
.image {
	padding: 30px 30px 100px 30px;
}
.gallery_image {
	max-width: 100%;
	border-radius: 4px;
}
.name-of-good-idea {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	line-height: 28px;
	color: #FC6A57;
	text-align: center;
	padding: 30px 30px 40px 30px;
	transition: background 1s;

}
.card:hover {
	padding: 1px 1px 100px;
	background: #FC6A57;
	transition: 1s;
}
.card:hover .gallery_image {
	border-radius: 6px;
	transition: 1s;
}
.card:hover .image {
	padding: 0 0 100px 0;
	transition: 1s;
}
.card:hover .name-of-good-idea {
	background: #FC6A57;
	color: #fff;
	transition: 1s;
}
.card:hover .card-icon-like, .card:hover .card-icon-unlike {
	opacity: 1;
	transition: 1s;
}
.wish-title-item-blue {
	font-family: 'Baloo 2', cursive;
	font-weight: 800;
	font-size: 40px;
	line-height: 64px;
	text-align: center;
	color: #1F3865;

}
.section-bad-idea-wrapper {
	max-width: 1440px;
	margin: 0 auto;
	background: #fff;
	position: relative;
	overflow: hidden;
}
.bad-idea {
	max-width: 1440px;
	display: flex;
	justify-content: center;
	gap:  60px;
	margin: 0 auto 100px auto;
}
.name-of-bad-idea {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #1F3865;
	padding: 30px 30px 40px 30px;
}
.card:hover .name-of-bad-idea {
	background: #FC6A57;
	color: #fff;
}











             /* Ruslan Shyshenko */

/* Третя секція контенту */

.third-section-wrapper{
	max-width: 1440px;
	margin: 0 auto;
	background: #FFF5F5 ;
	overflow: hidden;
}



.wish-title-wrapper {
padding-top: 60px;
display: flex;
justify-content: center;
align-items: center;
}

.animate-title{
	display: flex;
}
.animate-title li{
	list-style:none;
	font-family: 'Baloo 2', cursive;
	font-size:40px;
	line-height: 64px;
	color:#FC6A57;
	animation:ani 2.2s linear infinite
}
.animate-title li:nth-child(1){animation-delay:.2s}
.animate-title li:nth-child(2){animation-delay:.8s}
.animate-title li:nth-child(3){animation-delay:1s}
.animate-title li:nth-child(4){animation-delay:1.4s}
.animate-title li:nth-child(5){animation-delay:1.8s}
.animate-title li:nth-child(6){animation-delay:2s}
.animate-title li:nth-child(7){animation-delay:2.4s}
.animate-title li:nth-child(8){animation-delay:2.8s}

@keyframes ani {
0%{color: #FC6A57;;
	text-shadow:none;
}
90%{color: #f5a59b;;
	text-shadow:none;
}
100%{color: #fff5f5;
	mix-blend-mode: multiply;
	text-shadow:0 0 7px #FC6A57,0 0 70px #f0c3bd}
}

.cirklit{
	width: 20px;
	height: 20px;
	background: #FFF5F5;
	mix-blend-mode: multiply;
	border-radius: 50%;
	margin:0 15px;
}

.cirklit:first-child, .cirkbig:first-child {
	animation: cirleft 5s linear infinite;
	transform: translateX(0px);
}

@keyframes cirleft{
	0%{transform: translateX(0px)}
	50%{transform: translateX(-400px)}
	100%{transform: translateX(0px)}
}

.cirklit:last-child{
	animation: cirright 5s linear infinite;
	transform: translateX(0px);
}

@keyframes cirright{
	0%{transform: translateX(0px)}
	50%{transform: translateX(400px)}
	100%{transform: translateX(0px)}
}

.cirkbig{
	width: 48px;
	height: 48px;
	background: #FFF5F5;
	mix-blend-mode: multiply;
	border-radius: 50%;
	margin:0 15px;
}

.wish-title-wrapper .cirkbig:nth-child(4){
	animation: cirrightbg 3s linear infinite;
	transform: translateX(0px);
}

@keyframes cirrightbg{
	0%{transform: translateX(0px)}
	50%{transform: translateX(300px)}
	100%{transform: translateX(0px)}
}

.wish-title-wrapper .cirkbig:nth-child(2){
	animation: cirleftbg 3s linear infinite;
	transform: translateX(0px);
}

@keyframes cirleftbg{
	0%{transform: translateX(0px)}
	50%{transform: translateX(-300px)}
	100%{transform: translateX(0px)}
}

.wish-container {
margin-top: 40px;
margin-bottom: 150px;
}

.wish-section {
	display: flex;
	justify-content: space-evenly;
}

.wish-section:last-child{
	margin-top: 60px;
}

.wish-element-upone{
	background: url(../img/wish1.png) no-repeat center top;
	width: 386px;
	height: 386px;
}

.opacity-element{
	display: none;
	padding: 57px 30px 40px 30px;
	text-align: center;
	width: 386px;
	height: 386px;
	background: #fc6a57c5;
	box-shadow: 0px 10px 40px rgba(239, 219, 220, 0.4);
	border-radius: 6px;
	animation: fade 0.9s linear forwards;
}

@keyframes fade {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.opacity-icon{
	animation: bigtitle 2.5s infinite linear;
}

@keyframes bigtitle {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.opacity-title{
	animation: rotate 3s infinite linear;
}

@keyframes rotate {
	from {font-size: 20px;}
	to {font-size: 35px;}
}

.wish-element-upone:hover .opacity-element{
	display: block;
}

.wish-element-uptwo{
	background: url(../img/wish2.png) no-repeat center top;
	width: 386px;
	height: 386px;
} 

.wish-element-uptwo:hover .opacity-element{
	display: block;
}

.wish-element-upthree{
	background: url(../img/wish3.png) no-repeat center top;
	width: 386px;
	height: 386px;
} 

.wish-element-upthree:hover .opacity-element{
	display: block;
}

.wish-element-downone{
	background: url(../img/wish4.png) no-repeat center top;
	width: 386px;
	height: 386px;
} 

.wish-element-downone:hover .opacity-element{
	display: block;
}

.wish-element-downtwo{
	background: url(../img/wish5.png) no-repeat center top;
	width: 386px;
	height: 386px;
} 

.wish-element-downtwo:hover .opacity-element{
	display: block;
}

.wish-element-downthree{
	background: url(../img/wish6.png) no-repeat center top;
	width: 386px;
	height: 386px;
} 

.wish-element-downthree:hover .opacity-element{
	display: block;
}

.opacity-title {
	font-family: 'Baloo 2', cursive;
	font-weight: 800;
	font-size: 30px;
	line-height: 120%;
	color: #FFFFFF;
	margin-bottom: 40px;
}

.opacity-link{
	margin-top: 63px;
	display: inline-block;
	width: 326px;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
	overflow: hidden;
}

									/* Футер */


.footer-wrapper {
	padding: 40px 81px 40px 81px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

}

.logo:hover {
	transition: 300ms;
	transform: scale(1.2);
}

.logo-item{
	font-family: 'Baloo 2', cursive;
	font-weight: 800;
	font-size: 30px;
	line-height: 48px;
	color: #FC6A57;
}

.logo-item:hover {
	color: #f15b47;
	transition: 300ms;
}

.socnetworks{
	display: flex;
}

.socinsta:hover, .socface:hover{
	transition: 300ms;
	transform: scale(1.8);
}

.socface{
	margin-right: 10px;
}

.circul1::before{
	content: '';
	width: 407px;
	height: 407px;
	border-radius: 50%;
	background: #FFEBEB;
	position: absolute;
	top: -110px;
	left: 475px;
	mix-blend-mode: multiply;
}

.circul2::after{
	content: '';
	width: 166px;
	height: 166px;
	border-radius: 50%;
	background: #FFEBEB;
	position: absolute;
	top: -110px;
	right: 475px;
	mix-blend-mode: multiply;
}
